
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!--  Main banner section -->
<section class="w3l-main-banner">
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="item">
                <li>
                    <div class="slider-info banner-view">
                        
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!--  //Main banner section -->
